<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
	<test name="SGA Role">
		<classes>
		    <class name="AssessmentModule" />
			<class name="trainingOverviewDashboardGuestOne" />
			<class name="TrainingModule" />
			<class name="searchUsers" />
			<class name="TrainingModuleRAdmin" />
			<class name="trainingOverviewDashboardSiteHead" />
			<class name="TrainingModuleSDHead" />
			<class name="TrainingModuleTrainer" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->




